<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-geocoder"
      version="0.0.1">

    <name>cordova-plugin-geocoder</name>
    <description>Native geocoder for Cordova</description>
    <license>MIT</license>
    <keywords>cordova</keywords>
   
  <js-module src="www/GeocoderPlugin.js" name="GeocoderPlugin">
        <runs/>

        <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="GeocoderPlugin" />
      </js-module>


    <engines>
        <engine name="cordova" version=">=7.1.0"/>
        <engine name="cordova-android" version=">=7.0.0"/>
        <engine name="cordova-ios" version=">=4.3.0"/>
    </engines>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="GeocoderPlugin">
                <param name="ios-package" value="GeocoderPlugin" />
            </feature>
        </config-file>

        <header-file src="src/ios/GeocoderPlugin.h" />
        <source-file src="src/ios/GeocoderPlugin.m" />
    </platform>

     <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="GeocoderPlugin">
                <param name="android-package" value="cordova.plugin.nativegeocoder.GeocoderPlugin" />
            </feature>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>

        <source-file src="src/android/GeocoderPlugin.java" target-dir="src/cordova/plugin/nativegeocoder" />
    </platform>

</plugin>
